$padding: (
    // Size padding
    1: 1rem,
    2: 2rem,
    3: 3rem
);

$main-colors: (
    blue: rgb(64, 64, 143),
    gblue: rgb(58, 76, 95),
    dblue: rgb(29, 33, 44),
    light: rgb(242, 243, 234)
);
